@font-face {
    font-family: 'Rufina';
    src: url('Rufina-Regular.woff2') format('woff2'),
        url('Rufina-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rufina';
    src: url('Rufina-Bold.woff2') format('woff2'),
        url('Rufina-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

